    {% extends "layout.njk" %}

    {% block head %}
    <title>Sobre - Rocketseat</title>
    {% endblock %}

    {% block header%}
    <a href="/courses" target="blank">Conteúdos</a>
    {% endblock %}
            
    {% block content %}
    <main>
        <div class="main-content">
            <img src="{{data.logoImg}}" alt="Logo Rocketseat"/>
            <h1>{{data.nome}}</h1>
        </div>
        <div class="main-list"> 
            <p>{{data.slogan}}</p>
            <ul> 
                {% for li in data.list %}
                <li>{{li.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </main>
    {% endblock %}