    {% extends "layout.njk" %}

    {% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <title>Conteúdos - Rocketseat</title>
    {% endblock %}

    {% block header%}
    <a href="/about" target="blank">Sobre</a>
    {% endblock %}
            

    {% block content %}
    <main>
        <div class="main-content">
            <h1>Conteúdos</h1>
        </div>
    </main>
    <section class="cards" >
        {% for post in posts %}
        <div class="card" id="{{post.id}}">
            <div class="card-image">
                <img src="{{post.image}}" alt="Imagem de {{post.image}}">
            </div>
            <div class="card-titulo">
                <h2>{{post.title}}</h2>
            </div>
            <div class="card-info">
                <p>{{post.autor}}<strong>{{post.autorName}}</strong></p>
                <small id="card-temp-leitura">{{post.duration}}</small>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize">
                <i class="material-icons">maximize</i>
            </a>

            <div class="modal-content">
                <iframe src="https://blog.rocketseat.com.br/" frameborder="0"></iframe>
            </div>
        </div>    
    </div>
    <script src="/scripts.js"></script> 
    {% endblock %}  