    {% extends "layout.njk" %}

    {% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <title>Conteúdos - Rocketseat</title>
    {% endblock %}

    {% block header%}
    <a href="/about" target="blank">Sobre</a>
    {% endblock %}
            

    {% block content %}
    <main>
        <div class="main-content">
            <h1>Conteúdos</h1>
        </div>
    </main>
    <section class="cards" >
        <div class="card" id="reactjs-autenticacao">
            <div class="card-image">
                <img src="https://blog.rocketseat.com.br/content/images/2018/12/adonis-reactjs-react-native-8.png" alt="Imagem do Blog da Rocketseat">
            </div>
            <div class="card-titulo">
                <h2>Iniciando com ReactJS: Navegação e Autenticação com JWT</h2>
            </div>
            <div class="card-info">
                <p>Por <strong>Higo Ribeiro</strong></p>
                <small id="card-temp-leitura"> 11 MIN DE LEITURA</small>
            </div>
        </div>

        <div class="card" id="react-material-ui">
            <div class="card-image">
                <img src="https://blog.rocketseat.com.br/content/images/2018/12/react-material-ui.png" alt="Imagem do Blog da Rocketseat">
            </div>
            <div class="card-titulo">
                <h2>Integração do Material UI com ReactJS</h2>
            </div>
            <div class="card-info">
                <p>Por <strong>Higo Ribeiro</strong></p>
                <small id="card-temp-leitura"> 5 MIN DE LEITURA</small>
            </div>
        </div>

        <div class="card" id="axios-um-cliente-http-full-stack">
            <div class="card-image">
                <img src="https://blog.rocketseat.com.br/content/images/2020/09/axios-um-cliente-http-full-stack-rocketseat.png" alt="Imagem do Blog da Rocketseat">
            </div>
            <div class="card-titulo">
                <h2>Axios - um cliente HTTP Full Stack</h2>
            </div>
            <div class="card-info">
                <p>Por <strong>Thiago Marinho</strong></p>
                <small id="card-temp-leitura"> 3 MIN DE LEITURA</small>
            </div>
        </div>
        
    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize">
                <i class="material-icons">maximize</i>
            </a>

            <div class="modal-content">
                <iframe src="https://blog.rocketseat.com.br/" frameborder="0"></iframe>
            </div>
        </div>    
    </div>
    <script src="/scripts.js"></script> 
    {% endblock %}  