<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    {% block head %}
    <title>Rocketseat</title>
    {% endblock %}
    
</head>
<body>
    <header>
        <div class="menu">
            <a href="https://discordapp.com/invite/gCRAFhc" target="blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br" target="blank">E-mail</a>
            <a href="tel:+5547992078767" target="blank">Telefone</a>
            {% block header%}
            {% endblock %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <div class="distancia"></div>
    <footer>
        <div class="link-social">
            <ul> 
                <li><a href="https://github.com/Rocketseat/">GitHub</a></li>
                <li><a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a></li>
                <li><a href="https://www.facebook.com/rocketseat/">Facebook</a></li>
            </ul>
        </div>
    </footer>    
</body>
</html>