:root {
    --primary-color: #7159c1;
    --secondary-color: #F7DF1E;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
}
.menu {
    font-size: 22px;
}
.menu a + a{
    margin-left: 32px;
}
.menu a {

    text-decoration: none;
    color: #777;
    position: relative;
}
.menu a.active {
    font-weight: bold;
    color: var(--primary-color)
}
.menu a:hover {
    color: var(--primary-color)
}
.menu a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
.menu a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}
/*=========== CARD ===========*/

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;
    display: grid;
    grid-template-columns: 4fr 6fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    animation: up 200ms ease;
}

/*======= details =======*/
.details {
    padding: 32px;
    position: relative;
}
.details .item {
 border-top: 1px solid rgba(0,0,0,0.1);
 padding: 16px 0;
}
.details .item:first-child{
    border-top: none;
}
.details h3,
.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing:0.7px;
    font-weight: normal;
}
.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}
.details .item span {
    padding: 8px 16px;
    background-color:var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size:12px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color)
}

/*====== form =====*/

form input {
    width:100%;
    outline: none;
    color: #777;
    font-weight: bold;
    font-size:18px;
}
input[type="radio"]{
    width: initial;
    margin-right: 4px;;
}

select,
input[type="date"],
input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
select {
    width: 100%;
    color: #777;
    padding: 2px;
}

button[type="submit"],
a.button{
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
    color: white;
    font-size:16px;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}

.form-delete button[type="submit"] {
    background: lightcoral;
    
}


button[type="submit"]:nth-child(n){
  display: flex;
  position: absolute;
  width: 45%;
}



@keyframes up {
    from { 
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}