<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    {% block head %}
    <title>Classes Manager</title>
    {% endblock %}
    
</head>
<body>
    <header>
        <div class="menu">
            <a href="/teachers" class="active" >Teachers</a>
            <a href="/members" >Members</a>
            {% block header%}
            {% endblock %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <div class="distancia"></div> 
</body>
</html>