{% extends 'layout.njk' %}

{% block content%}
<form class="card" method="post" action="/instructors">
    <section 
    class="avatar" 
    style="background: url(http://source.unsplash.com/collection/n1V3XA1XJaE/500X500) no-repeat center center / cover"></section>
    <section class="details">
        <h3>Novo Professor</h3>
        <div class="items">
            <div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                    type="url" 
                    name="avatar_url"
                    placeholder="http://"
                    id="">
            </div>
            </div>
            <div class="item">
            <div>Nome Completro</div>
            <div>
                <input 
                    type="text" 
                    name="name"
                    placeholder="Nome do professor"
                    id="">
            </div>
            </div>

         <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input 
                    type="date" 
                    name="birth" 
                    id="">
            </div>
        </div>

         <div class="item">
            <div>Grau de Escolaridade</div>
            <div>
                <input 
                type="text" 
                name="escolaridade"
                placeholder="Ex.:Licenciatura em Letras" 
                id="">
            </div>
        </div>

         <div class="item">
            <div>Tipo de Aula</div>
            <div>
               
               <span
               ><input 
               type="radio" 
               name="gender"
               value="presencial"
               id="">
               Presencial
               </span>

               <span
               ><input 
               type="radio" 
               name="gender"
               value="distancia"
               id="">
               À distância
               </span>
               
            </div>
        </div>

         <div class="item">
            <div>Área de atuação</div>
            <div>
                <input 
                    type="text" 
                    name="services"
                    placeholder="Separe a área de atuação por vírgula"
                    id="">
            </div>
        </div>
        <button type="submit">Salvar</button>

        </div>
    </section>
</form>

{% endblock %}