{% extends 'layout.njk' %}

{% block content%}
<div class="card">
    <section 
    class="avatar" 
    style="background: url(http://source.unsplash.com/collection/n1V3XA1XJaE/500X500) no-repeat center center / cover">
    </section>
    <section class="details">
        <form  id="form-edit" method="post" action="/instructors?_method=PUT">
    
            <h3>Editar Professor</h3>

            {% include 'instructors/fields.njk'%}

            <div class="buttons">
                <button form="form-edit" type="submit">Salvar</button>
                <button form="form-delete" type="submit">Deletar</button>
            </div>
            
            <input 
                type="hidden" 
                name="id" 
                value="{{teacher.id}}"> 
                
        </form> 

        <form id="form-delete" method="post" action="/instructors?_method=DELETE">
             <input 
                type="hidden" 
                name="id" 
                value="{{teacher.id}}"> 
        </form>

    </section>


</div>


{% endblock %}